[project]
	description = Testing gerrit with gerrit hub
[access "refs/*"]
	owner = group user/Silviu Paragina (lexxdark)
[access "refs/for/refs/*"]
	read = group user/Silviu Paragina (lexxdark)
	push = group user/Silviu Paragina (lexxdark)
	label-Code-Review = -2..+2 group user/Silviu Paragina (lexxdark)
	label-Verified = -1..+1 group user/Silviu Paragina (lexxdark)
	rebase = group user/Silviu Paragina (lexxdark)
	removeReviewer = group user/Silviu Paragina (lexxdark)
	submit = group user/Silviu Paragina (lexxdark)
[access "refs/heads/*"]
	read = group user/Silviu Paragina (lexxdark)
	create = group user/Silviu Paragina (lexxdark)
	push = +force group user/Silviu Paragina (lexxdark)
	pushMerge = group user/Silviu Paragina (lexxdark)
[access "refs/tags/*"]
	push = +force group user/Silviu Paragina (lexxdark)
	pushTag = group user/Silviu Paragina (lexxdark)
	pushSignedTag = group user/Silviu Paragina (lexxdark)
[submit]
	action = rebase if necessary
